@media only screen and (max-width: 1920px) {
  body {
    font-family: "canada-type-gibson", sans-serif;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  body #peepTitle {
    position: relative;
    z-index: 1000;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
    background-color: #0195d3;
    color: white;
    padding: 7%;
    margin-bottom: 5%;
    border-radius: 10px;
    -webkit-animation: bounceIn 0.5s;
            animation: bounceIn 0.5s;
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
  }
  body #popup {
    background: rgba(255, 255, 255, 0.8);
    width: 0vw;
    height: 30vh;
    z-index: 999;
  }
  body #popup .peepInfo {
    color: #021a32;
    width: 20%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    top: 45%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0;
  }
  body #popup .peepInfo .popupText {
    line-height: 1.75rem;
  }
  body #popup .peepInfo #closeBtn {
    background: #f8971d;
    padding: 3%;
    width: 100px;
    height: 15px;
    color: white;
    text-align: center;
  }
  body #popup .peepInfo #closeBtn:hover {
    cursor: pointer;
  }
  body .zoom-box {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: url("_assets/infographic_background_extended.jpg") no-repeat bottom;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
  }
  body .zoom-box header {
    background: rgba(255, 255, 255, 0.8);
    width: 100vw;
    height: 15vh;
    position: absolute;
    top: 0;
    left: 0;
  }
  body .zoom-box header .intro-text {
    color: #021a32;
    font-size: 1.45rem;
    font-weight: 100;
    margin: 2% 5%;
    line-height: 2rem;
    text-align: center;
  }
  body .zoom-box header menu {
    margin: 2% auto;
    padding: 0;
    width: 75vw;
    height: 75px;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 0px 0px 15px #aaa;
            box-shadow: 0px 0px 15px #aaa;
    border-radius: 25px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .zoom-box header menu p {
    width: 100px;
    text-align: center;
    color: #0195d3;
    font-weight: 300;
    font-size: 1.15rem;
    border-radius: 25px;
    padding: 25px 9%;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  body .zoom-box header menu p:hover {
    cursor: pointer;
    color: #fff;
    background: #0195d3;
  }
  body .zoom-box header menu p.selected {
    color: #fff;
    background: #0195d3;
  }
  body .zoom-box main #leadership {
    position: absolute;
    top: 70vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  body .zoom-box main #leadership.inactive {
    display: none;
  }
  body .zoom-box main #leadership #back-table {
    position: absolute;
    left: 10vw;
    bottom: 1vh;
  }
  body .zoom-box main #leadership #dna-holder,
  body .zoom-box main #leadership #nam-holder,
  body .zoom-box main #leadership #edbo-holder,
  body .zoom-box main #leadership #dl-holder,
  body .zoom-box main #leadership #dbo-holder,
  body .zoom-box main #leadership #rvp-holder,
  body .zoom-box main #leadership #dm-holder {
    position: absolute;
  }
  body .zoom-box main #leadership #dna-holder.peep,
  body .zoom-box main #leadership #nam-holder.peep,
  body .zoom-box main #leadership #edbo-holder.peep,
  body .zoom-box main #leadership #dl-holder.peep,
  body .zoom-box main #leadership #dbo-holder.peep,
  body .zoom-box main #leadership #rvp-holder.peep,
  body .zoom-box main #leadership #dm-holder.peep {
    height: auto;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  body .zoom-box main #leadership #dm-holder {
    left: 35vw;
  }
  body .zoom-box main #leadership #dbo-holder {
    left: 32vw;
  }
  body .zoom-box main #leadership #dl-holder {
    left: 27vw;
  }
  body .zoom-box main #leadership #edbo-holder {
    left: 23vw;
  }
  body .zoom-box main #leadership #nam-holder {
    left: 18vw;
  }
  body .zoom-box main #leadership #dna-holder {
    left: 13vw;
  }
  body .zoom-box main #leadership #rvp-holder {
    left: 4vw;
  }
  body .zoom-box main #production {
    width: 100vw;
    height: auto;
  }
  body .zoom-box main #production.inactive {
    display: none;
  }
  body .zoom-box main #production #middle-scene {
    position: absolute;
    top: 80vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  body .zoom-box main #production #middle-scene #mid-table {
    position: absolute;
    left: 63vw;
    margin-top: 1%;
  }
  body .zoom-box main #production #middle-scene #arm-holder,
  body .zoom-box main #production #middle-scene #nr-holder,
  body .zoom-box main #production #middle-scene #rl-holder,
  body .zoom-box main #production #middle-scene #amrl-holder {
    position: absolute;
  }
  body .zoom-box main #production #middle-scene #arm-holder.peep,
  body .zoom-box main #production #middle-scene #nr-holder.peep,
  body .zoom-box main #production #middle-scene #rl-holder.peep,
  body .zoom-box main #production #middle-scene #amrl-holder.peep {
    height: auto;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  body .zoom-box main #production #middle-scene #arm-holder {
    left: 60vw;
  }
  body .zoom-box main #production #middle-scene #nr-holder {
    left: 67vw;
  }
  body .zoom-box main #production #middle-scene #rl-holder {
    left: 73vw;
  }
  body .zoom-box main #production #middle-scene #amrl-holder {
    left: 80vw;
  }
  body .zoom-box main #production #midFront-scene {
    position: absolute;
    top: 87vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  body .zoom-box main #production #midFront-scene #am-holder,
  body .zoom-box main #production #midFront-scene #bdm-holder {
    position: absolute;
  }
  body .zoom-box main #production #midFront-scene #am-holder.peep,
  body .zoom-box main #production #midFront-scene #bdm-holder.peep {
    height: auto;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  body .zoom-box main #production #midFront-scene #bdm-holder {
    left: 50vw;
  }
  body .zoom-box main #production #midFront-scene #am-holder {
    left: 43vw;
  }
  body .zoom-box main #support {
    position: absolute;
    bottom: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  body .zoom-box main #support.inactive {
    display: none;
  }
  body .zoom-box main #support #csa-holder,
  body .zoom-box main #support #css-holder,
  body .zoom-box main #support #bsa-holder,
  body .zoom-box main #support #bss-holder,
  body .zoom-box main #support #boa-holder {
    position: absolute;
  }
  body .zoom-box main #support #csa-holder.peep,
  body .zoom-box main #support #css-holder.peep,
  body .zoom-box main #support #bsa-holder.peep,
  body .zoom-box main #support #bss-holder.peep,
  body .zoom-box main #support #boa-holder.peep {
    height: auto;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  body .zoom-box main #support #csa-holder {
    left: 15vw;
    bottom: 2vh;
  }
  body .zoom-box main #support #css-holder {
    left: 21vw;
    bottom: 2vh;
  }
  body .zoom-box main #support #bss-holder {
    left: 56vw;
    bottom: 2vh;
  }
  body .zoom-box main #support #bsa-holder {
    left: 65vw;
    bottom: 2vh;
  }
  body .zoom-box main #support #boa-holder {
    left: 70vw;
    bottom: 2vh;
  }
}

@media only screen and (max-width: 1600px) {
  body .zoom-box header {
    height: 19vh;
  }
  body .zoom-box header .intro-text {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
  body .zoom-box header menu {
    margin: 0 auto;
    padding: 0;
    width: 90vw;
  }
  body .zoom-box header menu p {
    padding: 25px 8%;
  }
  body #main #leadership {
    top: 70vh;
  }
  body #main #popup .peepInfo {
    top: 20% !important;
    -webkit-transform: translateY(-10%) !important;
            transform: translateY(-10%) !important;
  }
  body #main #popup .peepInfo .popupTitle {
    font-size: 1rem;
  }
  body #main #popup .peepInfo .popupText {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
  body #main #popup .peepInfo #closeBtn {
    font-size: 0.75rem;
    padding: 2%;
  }
}

@-webkit-keyframes bounceIn {
  from,
  40%,
  60%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  40% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from,
  40%,
  60%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  40% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
/*# sourceMappingURL=index.css.map */